@{
	ViewData["Title"] = "Organisateur Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome to Organisateur page</h1>
</div>

<div class="text-end mt-4">
    <a class="btn btn-success" asp-controller="Evenement" asp-action="CreateEvenement">
        + Créer un événement
    </a>
</div>
