@model UserApp.ViewModels.EditProfileViewModel

<form asp-action="SaveProfile" method="post" id="editProfileForm" data-ajax="true">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group mb-3">
        <label asp-for="Nom" class="form-label"></label>
        <input asp-for="Nom" class="form-control" />
        <span asp-validation-for="Nom" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Prenom" class="form-label"></label>
        <input asp-for="Prenom" class="form-control" />
        <span asp-validation-for="Prenom" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Birthdate" class="form-label"></label>
        <input asp-for="Birthdate" class="form-control" type="date" />
        <span asp-validation-for="Birthdate" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="AvatarURL" class="form-label"></label>
        <input asp-for="AvatarURL" class="form-control" />
        <span asp-validation-for="AvatarURL" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="NomDuClub" class="form-label"></label>
        <input asp-for="NomDuClub" class="form-control" />
        <span asp-validation-for="NomDuClub" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="PhoneNumber" class="control-label"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Enregistrer</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
